
<div class="grosgros">
  <div class="groscontact">
    <div class="contact-gauche">

      <a target="_blank">Adresse: </a>
      <br>
      <a href="tel:" target="_blank"> Numéro de téléphone</a>
      <br>
      <a href="mailto:bambunor.lda@gmail.com" target="_blank"> Escreva-nos</a>
      <br><br><br>
      <a href="https://www.google.fr/maps/place/R.+dos+Barreais+10,+Portugal/@41.3631997,-6.4639952,12.33z/data=!4m5!3m4!1s0xd3be047fffe174d:0x9d27b8d7d8c3afe9!8m2!3d41.3919233!4d-6.4289728" target="_blank">
            Google Maps
      </a>
    </div>
    <div class="contact-droite">
      <a target="_blank">Rua Barreais 10, <br>5225-131 Sendim PORTUGAL</a>
      <br>
      <a href="tel:" target="_blank"> 06 00 00 00 00 </a>
      <br>
      <a href="mailto:bambunor.lda@gmail.com" target="_blank"> Escreva-nos</a>
      <br><br><br>
      <a href="https://www.google.fr/maps/place/R.+dos+Barreais+10,+Portugal/@41.3631997,-6.4639952,12.33z/data=!4m5!3m4!1s0xd3be047fffe174d:0x9d27b8d7d8c3afe9!8m2!3d41.3919233!4d-6.4289728" target="_blank">
        Google Maps
      </a>
    </div>
  </div>
</div>




