.contact {
    position: relative;
    padding-bottom: 200px;
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
    min-height: 100vh;
}

.groscontact {
    background-image: url("./../../../assets/img/texture-froissee.jpg");
    width: 100%;
}

.figure-contact img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-35%, -42%, 0);
    min-width: 100%;
    min-height: 100%;

}




.figure-contact {
    position: relative;
    height: 550px;
    width: calc(100% - 750px);
}

.module-contact {
    position: absolute;
    right: 0;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    letter-spacing: 0.025em;
}

p {
    padding: 35px;
}

.picture {
    background: #131313;
    color: #FFFFFF;
    
 

}