<div class="groscontact">
  <div class="contact">
    <figure class="figure-contact">
      <img src="./../../../assets/img/contact.JPG" alt="La photo de la page de contact">
    </figure>
    <div class="module-contact">
      <div class="picture">
        
      </div>
      <p class="general-contact">
        
        Pour nous écrire<br>
        mathias.guiguen@gmail.com
        <a href="https://www.google.com/maps/place/Malabar+Design/@48.8665485,2.4173015,15z/data=!4m5!3m4!1s0x0:0xa780f23fcfd23194!8m2!3d48.8665485!4d2.4173015" target="_blank">Malabar design<br>« Morning Gallieni »</a>
        <a href="https://www.google.com/maps/place/Malabar+Design/@48.8665485,2.4173015,15z/data=!4m5!3m4!1s0x0:0xa780f23fcfd23194!8m2!3d48.8665485!4d2.4173015" target="_blank">6 Rue Jean Jaurès<br>93170 Bagnolet</a>
        <a href="tel:" target="_blank"></a>
        <a href="mailto:%63o%6et%61%63t%40malab%61r%64esign.f%72" target="_blank"><span>contact@malabardesign.fr</span></a>
        <a href="https://www.google.com/maps/place/Malabar+Design/@48.8665485,2.4173015,15z/data=!4m5!3m4!1s0x0:0xa780f23fcfd23194!8m2!3d48.8665485!4d2.4173015" target="_blank">
          <span>
          Google Maps
          </span>
        </a>
      </p>
    </div>
  </div>
</div>



