<div class="cage">
  <section class="footer">

    <div class="box-container">

      <div class="box">
        <img src="assets/img/email.PNG" alt="">
        <p id="info1" style="display: none;">bambunor.lda@gmail.com</p>
        <p (click)="display()" id="info2">Afficher l'email</p>
      </div>

      <div class="box" id="box2">
        <img src="assets/img/localisation.PNG" alt="">

        <p>Rua Barreais 10, 5225-131 Sendim PORTUGAL</p>
      </div>

      <div class="box" id="box3">
        <img src="assets/img/tel.PNG" alt="">
        <p id="info3" style="display: none">964 647 808</p>
        <p (click)="display2()" id="info4">Afficher le numéro</p>

      </div>

    </div>

    <div class="credit"> &copy; copyright @ 2022 by <span>mr. web designer</span> | all rights reserved! </div>

  </section>
</div>
