@font-face {
  font-family: dinpro;
  src: url("../../../assets/fonts/DINPro-Regular.otf");
}

.cage{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  margin-top: 5%;
  padding:3rem 2rem;
  max-width: 1200px;
  margin: auto;
}


.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap:1.5rem;
  align-items: flex-start;
}

.footer .box-container .box{
  text-align: center;
}

.footer .box-container .box img{
  font-size: 2rem;
  line-height: 6rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

.footer .box-container .box h3{
  margin:1rem 0;
  font-size: 1.5rem;
  color: black;
}

.footer .box-container .box p{
  line-height: 2;
  font-size: 0.7rem;
  color: red;
  font-family: dinproBold, serif;
}

.footer .credit{
  text-align: center;
  margin-top: 3rem;
  padding-top: 2.5rem;
  border-top: .2rem solid black;
  font-size: 1rem;
  color: black;
  /* padding-bottom: 7rem; */
}

.footer .credit span{
  color: red;
}






/* media queries  */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
    transition: .2s linear;
  }

  #menu-btn.fa-times{
    transform: rotate(180deg);
  }

  .header .flex .navbar{
    position: absolute;
    top:99%; left:0; right:0;
    background-color: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: .2s linear;
  }

  .header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a{
    display: block;
    margin:2rem;
  }

  .home-bg{
    background-position: left;
  }

  .home-bg .home{
    justify-content: center;
  }

  .home-bg .home .content h3{
    font-size: 4rem;
  }

  .about .content h3{
    font-size: 3rem;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading img{
    height: 3rem;
  }

  .heading h3{
    font-size: 3rem;
  }

}
