<!-- HEADER -->
<div class="arene">
<div class="noise"></div>

  <header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> 964 647 808</a></li>
          <li><a href="mailto:bambunor.lda@gmail.com"><i class="fa fa-envelope-o"></i> bambunor.lda@gmail.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i>Rua Barreais 10, 5225-131 Sendim PORTUGAL</a></li>
        </ul>
      </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
      <!-- container -->

          <div  class="col-md clearfix">
            <div class="header-ctn">

              <!-- Menu Toogle -->
              <div class="menu-toggle" id="active-navv">
                <a>
                  <i class="fa-caret-square-down"></i>
                  <span><img class="menu-burger" src="./../../../assets/img/menu-burger.png" alt=""></span>
                </a>
              </div>
              <!-- /Menu Toogle -->
            </div>
          </div>
          <!-- /ACCOUNT -->
      <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
  </header>
  <!-- /HEADER -->

  <!-- NAVIGATION -->

<!-- /NAVIGATION -->
</div>
<nav id="navigation" class="custom">
  <!-- container -->
  <div class="container" style="margin-top: 10%;">
    <!-- responsive-nav -->

    <div id="responsive-nav py-3">

      <!-- NAV -->
      <ul class="Menu-list">
        <li class="Menu-list-item">
          About
          <a routerLink="/presentation" id="lien1">
            <span class="Mask"><span>Quem somos? </span></span>
            <span class="Mask"><span>Quem somos? </span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Mystere
          <a routerLink="/histoire" id="lien2">
            <span class="Mask"><span>Do campo para a mesa </span></span>
            <span class="Mask"><span>Do campo para a mesa </span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Checkout
          <a routerLink="/home" id="lien3">
            <span class="Mask"><span>encomendas</span></span>
            <span class="Mask"><span>encomendas</span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Nature
          <a routerLink="/cueillette" id="lien4">
            <span class="Mask"><span>colheta na ferma </span></span>
            <span class="Mask"><span>colheta na ferma </span></span>
          </a>
        </li>

        <li class="Menu-list-item">
          Contact
          <a routerLink="/contact" id="lien5">
            <span class="Mask"><span>Contatos</span></span>
            <span class="Mask"><span>Contatos</span></span>
          </a>
        </li>



        <li id="close"></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
