

<section class="galaxy" id="debut">
  <section class="cosmos">
    <div class="strat" id="plante">
      <h1>A <br>planta.</h1>
      <div class="satellite"><p>Du champs à l'assiette</p></div>
    </div>
  </section>

  <section class="plante">
    <div class="container c-usp">
      <div class="espaceright">
        <h2>Os bambus não são arvores,  <br>
          mas sim gramineas (poaceae) </h2>
        <h2>A colheita dos rebentos frescos realiza-se entre abril e julho.</h2>
      </div>
    </div>
  </section>

  <section id="section-3">
    <div class="container c-usp">
      <div class="row">
        <div class="col-md-12">
          <p class="bloc">
            Gramíneas compostas de rizomas e de raizes nas partes subterrâne , as e de colmos, geralmente ocos, ramos e folhas nas partes aéreas.
          </p>
          <p class="bloc">
            Existem cerca de 1 500 espécies, agrupadas  <br>em mais de 90 géneros diferentes.
          </p>
        </div>
        <div class="col-md-12">
          <p class="bloc blocalone">
            O bambu tem um rendimento extraodinario porque beneficia de uma regeneração natural; 
            quando cortado no estado maduro volta a crescer ao lado no ano seguinte, jà com tamanho adulto !
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="galaxy">
    <section class="cosmos">
      <div class="strat clear" id="produit">
        <h1>O <br>produto.</h1>
      </div>
    </section>
    </section>

    <section class="plante">
      <div class="espace no-espace">
        <div class="espaceleft"></div>
        <div class="espaceright">
          <h2>Produto Bio e na moda, e muito proximo das qualidades nutricionais inegaveis.</h2>
        </div>
      </div>
    </section>

    <div class="clear"></div>


    <div class="" style="margin-top: 150px">

    <div class="container">
      <div class="row py-5">
        <div class="col-md-4 pb-5">
          <p class="text-uppercase font-weight-bold py-3"></p>
          <h2 class="text-uppercase pb-4">o bambu é um alimento de futuro na Europa.</h2>
          <p>Todas as epécies de bambu são comestiveis, 
            com a condição de serem cozidos 20 mn para eliminar um componente ligeiramente 
            tóxico que o bambu cru tem. Colhidos quando ainda são muito pequenos, 
            quando têm cerca de 10 a 15 cm de altura, são essencialmente os rebentos de bambu, 
            ainda chamados « turioes » que são utilizados na cozihna.</p>
          <!-- <img src="assets/img/etiquette.png" class="img-fluid" alt=""> -->
        </div>
        <div class="col-md-7">
          <img src="assets/img/bambou2.jpg" class="img-fluid" alt="">
          <div class="row justify-content-end">
            <div class="carreblue col-md-5 py-3">
              <p class="text-uppercase text-light mb-1">Anotar</p>
              <p class="text-light">O bambu é uma planta comestivel que faz parte da alimentação da espécie humana ha varios milhares de anos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    </div>


    <section class="galaxy">
      <section class="cosmos">
        <div class="strat" id="nutritives">
          <h1>Qualidades <br>nutritivas.</h1>
        </div>
        <div class="espace">


          <div class="row py-5 d-flex justify-content-around">

            
            <div class="col-7 col-md-4 text-center">
              <img class="icone" src="assets/img/icon1.svg" alt="">
              <p class="text-uppercase font-weight-bold pt-3 para">O valor energético e nutritiva dos rebentos de bambus  contribui para fazer deles um excelente produto dietético :
                27 calorias por 100 gramas : 5,2 g de glucidos, 2,6 g de proteinas e 0,3 g de lipidos. 
            </p>
            </div>

            <div class="col-7 col-md-4 text-center">
              <img class="icone" src="assets/img/icon2.svg" alt="">
              <p class="text-uppercase font-weight-bold pt-3 para">Os rebentos de bambu são ricos em fibras alimentares, em acidos aminados, 
                em vitaminas A, B1, B2 e C, em silicio e calcio.</p>
            </div>

            <div class="col-7 col-md-4 text-center">
              <img class="icone" src="assets/img/icon3.svg" alt="">
              <p class="text-uppercase font-weight-bold pt-3 para">O papel do silicio (Si) é reconhecido por fazer parte da composiçao da pele, 
                dos ligamentos, dos tendoes e dos ossos (tratamentos da arthrose e da osteoporose).</p>
            </div>

          </div>








        </div>
      </section>
    </section>

  <section class="">

    <div class="container">
      <div class="row py-5 d-flex justify-content-center">
        <div class="col-12 col-md-7">
          <img src="assets/img/engrais-naturel.JPG" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-4">
          <h2 class="text-uppercase pb-4">Os bambus são cultivados de forma natural,</h2>
          <p class="text-uppercase font-weight-bold py-3 sub-blue">sem a utilização de fertilizantes e pesticidas</p>
          <p class="text-uppercase py-3 sub-blue">
            juste ce qu'il faut de fumier de lapin de temps à autre, riche en azote, en provenance d'un exploitant tout proche.
          </p>
        </div>
      </div>
    </div>




    <div class="container">
      <div class="row py-5 d-flex justify-content-center">
        <div class="col-12 col-md-4">
          <h2 class="text-uppercase pb-4">A monda dos campos realiza-se a mao, com ajuda do burro !!!</h2>
          <p class="text-uppercase py-3 sub-blue">A colheta realiza-se a mao egualmente. Os rebentos frescos podem ser conservados uns dias, 
            e aguentam muito bem a congelação.
          </p>
        </div>
        <div class="col-12 col-md-7">
          <img src="assets/img/ane.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

  <div class="clear"></div>


  <section class="galaxy" id="gustatives">
    <section class="cosmos">
      <div class="strat" id="gustatives">
        <h1>Qualidades<br>gustativas.</h1>
      </div>
      <div class="espace">

      </div>
    </section>




    <section class="plante">
      <div class="espace">

        <div class="">
          <h3>Bambunor garante-vos um producto ultra fresco, distribuido em circuito o mais curto possivel, e 100 % português !</h3>
        </div>
      </div>
    </section>

    <section style="margin-top: 70px;">
      <div class="espace">

        <div class="espaceright">

          <p class="blocs">
            Com a sua consistência estaladiça e o seu fino sabor a alcachofra ou avela, 
            os rebentos de bambu frescos são uma uguaria delicada.
            Nada a ver com os rebentos Chineses que se pode encontrar em lata ou em sacos de plasticos, ensopados de conservadores…
          </p>
          <p class="blocs">
            Pode usar en deliciosas sopas, em saladas ou em prato principal,<br> 
            salteados com camarão por exemplo…<br>
            Pode tanbem ajudar na préparaçao de excelentes sobremesas

          </p>


        <div class="container-lien">
          <hr>
          <h1 class="lien-extra"><a routerLink="/home">Fazer um pedido</a></h1>
          <hr>
          <h1 class="lien-extra"><a routerLink="/cueillette">colheta na ferma </a></h1>
          <hr>
        </div>

        </div>

      </div>
    </section>
  </section>
</section>

<app-footer></app-footer>
