<div class="cage">
  <div class="drapeau">
    <p>DO COMPO PARA A MESA</p>
  </div>

  <section class="contact" id="contact">
    <div class="heading">
      <h1>A <br> Planta.</h1>
    </div>
  </section>

  <div class="home-bg">

    <section class="home">
      <div class="content">
        <h3>Os bambus não são arvores, mas sim gramineas (poaceae)   </h3>
        <p>A colheita dos rebentos frescos realiza-se entre abril e julho.</p>
      </div>
    </section>
  </div>

  <section id="section-3">
    <div class="container c-usp">
      <div class="row">
        <div class="col-md-12">
          <p class="bloc">
            Gramíneas compostas de rizomas e de raizes nas partes subterrâne , as e de colmos, geralmente ocos, ramos e folhas nas partes aéreas.
          </p>
          <p class="bloc">
            Existem cerca de 1 500 espécies, agrupadas  <br>em mais de 90 géneros diferentes.
          </p>
        </div>
        <div class="col-md-12">
          <p class="bloc blocalone">
            O bambu tem um rendimento extraodinario porque beneficia de uma regeneração natural;
            quando cortado no estado maduro volta a crescer ao lado no ano seguinte, jà com tamanho adulto !
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="heading">
      <h1>O <br> Produto.</h1>
    </div>
  </section>

  <div class="home-bg">
    <section class="home">
      <div class="content">
        <h3>Produto Bio e na moda, e muito próximo das qualidades nutricionais inegaveis.</h3>
      </div>
    </section>
  </div>


  <div class="">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-4 pb-5">
          <p class="text-uppercase font-weight-bold py-3"></p>
          <h2 class="text-uppercase pb-4">o bambu é um alimento de futuro na Europa.</h2>
          <p style="font-size: 1rem">Todas as epécies de bambu são comestiveis,
            com a condição de serem cozidos 20 mn para eliminar um componente ligeiramente
            tóxico que o bambu cru tem. Colhidos quando ainda são muito pequenos,
            quando têm cerca de 10 a 15 cm de altura, são essencialmente os rebentos de bambu,
            ainda chamados « turioes » que são utilizados na cozihna.</p>
        </div>
        <div class="col-md-7">
          <img src="assets/img/bambou2.jpg" class="img-fluid" alt="">
          <div class="row justify-content-end">
            <div class="carreblue col-md-5 py-3">
              <p class="text-uppercase text-light mb-1" style="font-size: 2rem">Anotar</p>
              <p class="text-light" style="font-size: 1rem">O bambu é uma planta comestivel que faz parte da alimentação da espécie humana ha varios milhares de anos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <section class="contact">
    <div class="heading">
      <h1 id="nutritivas">Qualidades <br> Nutritivas.</h1>
    </div>
  </section>


  <section class="facility">



    <div class="box-container">

      <div class="box">
        <img src="assets/img/icon1.svg" alt="">

        <p>O valor energético e nutritiva dos rebentos de bambus  contribui para fazer deles um excelente produto dietético :
          27 calorias por 100 gramas : 5,2 g de glucidos, 2,6 g de proteinas e 0,3 g de lipidos. </p>
      </div>

      <div class="box">
        <img src="assets/img/icon2.svg" alt="">

        <p>Os rebentos de bambu são ricos em fibras alimentares, em acidos aminados,
          em vitaminas A, B1, B2 e C, em silicio e calcio.</p>
      </div>

      <div class="box">
        <img src="assets/img/icon3.svg" alt="">

        <p>O papel do silicio (Si) é reconhecido por fazer parte da composiçao da pele,
          dos ligamentos, dos tendoes e dos ossos (tratamentos da arthrose e da osteoporose).</p>
      </div>


    </div>

  </section>

  <section class="about" id="about">
    <div class="image">
      <img src="assets/img/engrais-naturel.JPG" alt="">
    </div>
    <div class="content">
      <h4>Os bambus são cultivados de forma natural, sem a utilização de fertilizantes e pesticidas.</h4>
      <p>Apenas a utilização de estrume de coelho de vez en quando, em proveniência de uma exploração muito perta.</p>
    </div>
  </section>

  <section class="about">
    <div class="content">
      <p>A nossa exploração, inovadora na Europa, tem por ambição de divulgar um produto raro com múltiplas virtudes alimentares:</p>
      <p style="text-align: center">os rebentos de bambus frescos.</p>
      <p>Que seja chefe de um restaurante gourmet ou simples particular, convide esta delicadeza à sua mesa!</p>

    </div>
    <div class="image">
      <img src="assets/img/ane.jpg" alt="">
    </div>
  </section>


  <section class="contact">
    <div class="heading">
      <h1>Qualidades <br> Gustativas.</h1>
    </div>
  </section>

  <div class="home-bg">
    <section class="home">
      <div class="content">
        <p style="text-align: left !important;">
          Com a sua consistência estaladiça e o seu fino sabor a alcachofra ou avelã,
          os rebentos de bambu frescos são uma uguaria delicada.
          Nada a ver com os rebentos Chineses que se pode encontrar em lata ou em sacos de plasticos, ensopados de conservadores…
        </p>
        <p style="text-align: left !important;">
          Pode usar en deliciosas sopas, em saladas ou em prato principal,<br>
          salteados com camarão por exemplo…<br>
          Pode tanbem ajudar na préparaçao de excelentes sobremesas.
        </p>
      </div>
    </section>
  </div>

  <div class="home-bg">
    <section class="home" id="home">
      <div class="content">
        <h3><a routerLink="/home">Fazer um pedido</a></h3>
        <h3><a routerLink="/cueillette">Colheta na ferma</a></h3>
      </div>
    </section>
  </div>




</div>
<app-footer></app-footer>







