

<div class="container-fluid backbambou">

  <div class="" style="z-index: 100000;">

    <section id="section-2">
      <h1>La cueillette</h1><br>
            <h1>à la ferme</h1>
      <div class="container espace-titre">
        <div class="row">
          <div class="col-md-12">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="margin-top: 4%;">
            
            <h4>
              Une cueillette en famille dans notre ferme, c'est possible ! <br> 

               À l'arrivée de la belle saison, Vous avez surement envie de profiter du grand air de la campagne. 
              Pour ceux qui souhaiteraient également se nourrir sainement en savourant ce met délicieux,
              nous vous proposons une sortie en famille idéale.
              
              Rendez-vous dans notre exploitation proposant la cueillette à domicile. 
            </h4>
          </div>
          <div class="col-md-6">
            <img src="assets/img/cueillette-pousse.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="section-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Si vous souhaitez réserver une cueillette, n'hésitez pas à nous écrire. </h2>
            <h1><a href="mailto:mathias.guiguen@gmail.com" class="btn">Réserver une table</a></h1>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
<div class="espace"></div>

<app-footer></app-footer>

