<div class="cage">
  <div class="drapeau">
    <p>COLHETA NA FERMA</p>
  </div>

  <section class="contact" id="contact">
    <div class="heading">
      <h1>Colheta<br>Na ferma.</h1>
    </div>
  </section>


  <section class="about">
    <div class="content">
      <p>A nossa exploração, inovadora na Europa, tem por ambição de divulgar um produto raro com múltiplas virtudes alimentares:</p>
      <p style="text-align: center">os rebentos de bambus frescos.</p>
      <p>Que seja chefe de um restaurante gourmet ou simples particular, convide esta delicadeza à sua mesa!</p>

    </div>
    <div class="image">
      <img src="assets/img/tente.JPG" alt="">
    </div>
  </section>

  <section id="section-3">
    <div class="container c-usp">
      <div class="row">
        <div class="col-md-12">
          <p class="bloc">
            Se você deseja reservar, não hesite em nos escrever.
          </p>

        </div>
        
      </div>
    </div>
  </section>


</div>
<app-footer></app-footer>







