

<div class="container-fluid backbambou">

  <div class="" style="z-index: 100000;">

    <section id="section-2">
      <div class="satellite"><p> colheta na ferm</p></div>
      <h1>colheta </h1><br>
            <h1>na ferm</h1>
      <div class="container espace-titre">
        <div class="row">
          <div class="col-md-12">
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" style="margin-top: 4%;">
            
            <h4>
              Uma colheita familiar em nossa fazenda é possível! <br> 

              Quando a bela temporada chegar, você certamente deseja desfrutar do ar livre no campo. 
              Para quem também deseja uma alimentação saudável enquanto saboreia este delicioso prato, 
              oferecemos um passeio em família ideal. 
              Não hesite em marcar na nossa operação uma recolha para a sua casa.
            </h4>
          </div>
          <div class="col-md-6">
            <img src="assets/img/cueillette-pousse.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="section-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Se você deseja reservar uma pickup, não hesite em nos escrever.</h2>
            <h1><a href="mailto:mathias.guiguen@gmail.com" class="btn">Agende uma coleta </a></h1>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
<div class="espace"></div>

<app-footer></app-footer>

