<div class="cage">
  <div class="drapeau">
    <p>QUEM SOMOS ?</p>
  </div>

  <section class="contact" id="contact">
    <div class="heading">
      <h1>Nossa <br> Historia</h1>
    </div>
  </section>

  <div class="home-bg">

    <section class="home">
      <div class="content">
        <h3>« Um casal franco-português »</h3>
        <p>Elizabete e Yves, apaixonados de bambus, que desejavam exercer uma actividade proxima de sua paixão, e o mais perto da natureza.</p>
      </div>
    </section>
  </div>

  <div class="home-bg">
    <section class="home2">
      <div class="content">
        <img class="couple" src="assets/img/couple.jpg" alt="">
      </div>
    </section>
  </div>


  <section class="about" id="about">
    <div class="image">
      <img src="assets/img/lot.jfif" alt="">
    </div>
    <div class="content">

      <p>Em 2015, plantamos, em agricultura biologica, 3 hectares de bambùs no norte de portugal, e criamos </p>
      <p style="text-align: center">BAMBUNOR LDA.</p>

    </div>
  </section>

  <section class="about">
    <div class="content">
      <p>A nossa exploração, inovadora na Europa, tem por ambição de divulgar um produto raro com múltiplas virtudes alimentares:</p>
      <p style="text-align: center">os rebentos de bambus frescos.</p>
      <p>Que seja chefe de um restaurante gourmet ou simples particular, convide esta delicadeza à sua mesa!</p>

    </div>
    <div class="image">
      <img src="assets/img/zePousse.jpg" alt="">
    </div>
  </section>


  <div class="home-bg">
    <section class="home" id="home">
      <div class="content">
        <h3><a routerLink="/histoire">descubra o nosso produto</a></h3>
      </div>
    </section>
  </div>

</div>
<app-footer></app-footer>







