
.drapeau {
  position: fixed;
  top: 250px;
  right: 10px;
  transform-origin: right top;
  transform: rotate(90deg) translate(100%, 0);
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(255, 238, 207);
}

.cage{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
  position: relative;
}

section {
  margin-top: 5%;
  padding:3rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.heading{
  margin-bottom: 3rem;
}


.heading h3{
  font-size:10.5rem;
  color: #ffeecf;
  font-family: dinproBold;
}

.heading h1 {
  font-size: 9rem;
  color: #ffeecf;
  font-family: dinproBold, serif;
}


.about{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.about .image{
  flex:1 1 40rem;
}

.about .image img{
  width: 100%;
  border-radius: 10%;
}

.about .content{
  flex:1 1 40rem;
}

.about .content h3{
  font-size: 4.5rem;
  color: #ffeecf;
  font-family: dinproBold, serif;
  padding-bottom: 1rem;
  line-height: 4rem;
}

.about .content p{
  padding:1rem 0;
  color: black;
  font-size: 1.5rem;
}

a{
  font-size: 2rem;
  color: #7B0D1E;
  font-weight: bold;
}

.home-bg .home{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-bg .home .content{
  text-align: left;
  width: 75%;
}

.home-bg .home2 .content{
  text-align: center;
  margin: auto;
  width: 75%;
}


.home-bg .home2 .content .couple {
  width: 75%;
  border-radius: 50px;
  margin: auto;
}



.home-bg .home .content h3{
  font-size: 2rem;
  color:#7B0D1E;
  font-family: dinproBold, serif;
  text-align: center;
}

.home-bg .home .content p{
  padding:1rem 0;
  font-size: 1.6rem;
  color: #ffeecf;
  line-height: 2;
}




/* media queries  */

@media (max-width:991px){

  .cage{
    font-size: 55%;
  }
  .home-bg .home .content{
    text-align: center;
    width: 100%;
  }

}

@media (max-width:768px){

  .about .content h3{
    font-size: 3rem;
  }

  .about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
  }



}

@media (max-width:450px){

  .cage{
    font-size: 50%;
  }

  .heading img{
    height: 3rem;
  }

  .heading h3{
    font-size: 3rem;
  }

  .home-bg .home .content h3{
    font-size: 1.5rem;
  }

  .heading h1 {
    font-size: 5rem;
  }

}
