

<div style="margin-top: 100px"></div>
<section>
  <div class="strat">
    <h1 style="font-family: dinproBold;">Nossa  <br>história.</h1>
    <div class="satellite"><p>Qui sommes nous ?</p></div>
  </div>
</section>
<div class="container-fluid">

  <div class="container espaceur">
    <div class="">
      <h2 class="fontperso" style="text-align: center;"><span class="zeTitre">« Um casal franco-português »</span> </h2>
        <h2 class="fontperso">Elizabete e Yves, apaixonados de bambus, que desejavam exercer uma actividade proxima de sua paixão, e o mais perto da natureza.</h2>
    </div>
  </div>


  <div class="container espaceur">
    <div class="">
      <h2 class="fontperso">Em 2015, plantamos, em agricultura biologica, 3 hectares de bambùs no norte de portugal, e criamos BAMBUNOR LDA.</h2>
    </div>

  
  </div>



  <div class="carroussel espaceur">

    <div class="image">
      <img src="assets/img/ferme.JPG" class="img-fluid ferme" alt="">
    </div>

    <div class="image-custom image">
    
      
        
        <h4 class="fontperso">A nossa exploração, inovadora na Europa, tem por ambição de divulgar um produto raro com múltiplas virtudes alimentares: </h4><hr><h4 class="fontperso"> os rebentos de bambus frescos.</h4><hr>
        <h4 class="fontperso">Que seja chefe de um restaurante gourmet ou simples particular, convide esta delicadeza à sua mesa!</h4>
          
    </div>

    <div class="image">
      <img src="assets/img/champ.JPG" class="img-fluid ferme" alt="">
    </div>

  </div>


  <div class="row col-md-5">
    
  </div>
  <div class="container">
    <div class="container-lien">
      
      <h1 class="fontperso lien-extra" style="text-align: center;"><a routerLink="/histoire">descubra o nosso produto</a></h1>
    </div>
    


  </div>
</div>

<app-footer></app-footer>


